<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nova.orm.mybatisplus.chapter4.FourUserMapper">

    <select id="selectByName" resultType="com.nova.orm.mybatisplus.entity.UserDO">
        select * from user where name = #{name}
    </select>

    <insert id="batchInsert" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            <trim prefix="insert into user" suffix=";">
                <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="item.age != null">
                        age,
                    </if>
                    <if test="item.name != null and item.name != ''">
                        name,
                    </if>
                </trim>

                <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
                    <if test="item.age != null">
                        #{item.age,jdbcType=INTEGER},
                    </if>
                    <if test="item.name != null and item.name != ''">
                        #{item.name,jdbcType=VARCHAR},
                    </if>
                </trim>
            </trim>
        </foreach>
    </insert>
</mapper>

